/* Default styles */
.topnav {
    margin: auto;
    background-color: rgb(70, 11, 97);
    overflow: auto;
}

.topnav a {
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
}

.topnav a:hover, .topnav a.active {
    background-color: darkcyan;
}

.topnav .icon {
    display: none; /* Hide hamburger icon by default */
}

/* Mobile Portrait and Landscape */
@media screen and (max-width: 600px) {
    .topnav a {
        display: none; /* Hide all links */
    }

    .topnav a.icon {
        display: block; /* Show the hamburger icon */
        float: right;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a {
        display: block; /* Show links when hamburger is clicked */
        text-align: left;
    }
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .topnav a {
        display: inline-block;
        font-size: 14px;
        padding: 8px 10px;
    }
}

/* Desktop */
@media screen and (min-width: 901px) {
    .topnav a {
        display: inline-block;
    }
}
