/* Global rules */
.topnav {
    margin: auto;
    background-color: rgb(70, 11, 97);
    overflow: auto;
}

.topnav a {
    display: inline-block; /* Links show inline by default */
    color: whitesmoke;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
}

.topnav a:hover, .topnav a.active {
    background-color: darkcyan; /* Highlight active or hovered link */
}

.topnav .icon {
    display: none; /* Hide the hamburger icon by default */
}

/* TABLET */
@media screen and (max-width: 900px) {
    .topnav a {
        padding: 8px 10px; /* Adjust padding for smaller screens */
        font-size: 14px; /* Reduce font size for tablets */
    }
}

/* PHONE */
@media screen and (max-width: 600px) {
    .topnav a {
        display: none; /* Hide all links except the hamburger icon */
    }
    .topnav a.icon {
        display: block; /* Show the hamburger icon for small screens */
        float: right;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a {
        display: block; /* Show links in dropdown mode */
        text-align: left;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
    .topnav {
        width: 80%; /* Slightly narrower navigation bar for desktop */
    }
}
